<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="UTF-8">
    <title>亿维时代科技</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Keywords" content="亿维时代"/>
    <meta name="Description" content="亿维时代科技公司"/>
    <script type="text/javascript">
        (function() {
          var methods = ["assert", "cd", "clear", "count", "countReset",
            "debug", "dir", "dirxml", "error", "exception", "group", "groupCollapsed",
            "groupEnd", "info", "log", "markTimeline", "profile", "profileEnd",
            "select", "table", "time", "timeEnd", "timeStamp", "timeline",
            "timelineEnd", "trace", "warn"];
          var length = methods.length;
          var console = (window.console = window.console || {});
          var method;
          var noop = function() {};
          while (length--) {
            method = methods[length];
            // define undefined methods as noops to prevent errors
            if (!console[method])
              console[method] = noop;
          }
        })();
    </script>
</head>
<body>
	<div id="app"></div>
</body>
</html>
